@font-face {
    font-family: "Fraunces";
    src: url("../fonts/Fraunces/static/Fraunces_144pt-Bold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
}
@font-face {
    font-family: "TokyoOutline";
    src: url("../fonts/Inter/tokyo/tokyooutline-regular.woff") format("truetype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
textarea,
input {
    font-family: Inter !important;
    color: #0f2733;
}

.container,
section,
ul {
    width: 100%;
}

img {
    border: none;
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    color: #6bc7f5;
    text-decoration-line: none;
}

/* *************************************************** */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
        "Liberation Sans";
    background-color: #fbfcfd;
}

button,
.button,
.button.active {
    padding: 15px;
    margin: 20px 0;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: #34b5f6;
}

button,
a.button:visited {
    background-color: #58a4c0;
}

button,
a.button:hover {
    background-color: #6bc7f5;
}

button,
a.button:active {
    background-color: #7cbedf;
}

.border {
    border: 1px solid #cee0e7;
    border-radius: 5px;
    background-color: #ffffff;
}

.button span {
    font-size: 25px;
    top: 3px;
    left: 3px;
    position: relative;
}

h1,
h2 {
    /* font-family: "Fraunces"; */
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'TokyoOutline';
}

h1 {
    font-size: 6.6em;
}

h2 {
    margin: 60px 0 10px;
    font-size: 5em;
    font-weight: 500;
    position:relative;
}
h2 .gost{
    opacity: 0.3;
    position: absolute;
    left:5px;
    width:100%;
}
header p.subtitle {
    margin: 30px 0;
    font-size: 1.8em;
    font-weight: 500;
    color:#0f2733;
    text-transform: uppercase;

}
h3 {
    font-size: 1em;
    font-weight: 500;
}

.clr {
    clear: both;
}

.container,
section {
    clear: both;
}
.highlight{
    color:#fff;
}
/* *************************************************** */
header .container,
main section,
nav div {
    clear: both;
    margin: 0 auto;
    padding:60px 10px;
}
.container {
    max-width: 800px;
    clear: both;
    margin: 0 auto;
}
.gradiant{
    background: linear-gradient(#34b5f6, #c9dce5);
}
.grid,
.grid-notresp {
    margin: auto;
    width: 100%;
    justify-content: space-around;
}

.grid {
    display: flex;
}

.grid-notresp {
    display: flex;
}

.grid .columns2 {
    width: 49%;
}

.grid .columns3 {
    width: 32%;
}

.grid .columns4,
.grid-notresp .columns4 {
    width: 25%;
}

.title {
    margin-bottom: 30px;
}

.title p {
    font-size: 1.8em;
    text-transform: uppercase;
}

body {
    position: relative;
}

nav {
    display: flex;
    background-color: #34b5f6;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
nav a {
    color: #fff;
    text-transform:uppercase ;
    font-size: 1em;
}

nav div {
    text-align: right;
    padding: 20px 0;
    position: relative;
    width: 100%;
}
nav .container{
    max-width: 1100px;
}

nav ul li,
nav ul {
    display: inline;
}

nav li {
    padding: 0 20px;
}

nav #home {
    position: absolute;
    left: 20px;
}

nav #close-button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

nav #close-button,
nav #mobile-menu {
    display: none;
}

#mobile-menu,
#close-button {
    padding: 15px;
    font-size: 2em;
}

#mobile-menu {
    transform: rotate(90deg);
}

/* *************************************************** */
header {
    clear: both;
    padding-top:40px;
    margin-top: 100px;
}

header h2 {
    text-align: left;
    margin: 0 0 15px;
}

header img {
    max-width: 300px;
    margin: 150px 0 0 auto;
    display: block;
}

header .button {
    width: 100%;
    text-align: center;
}

header p.text{
    line-height: 2em;
    text-transform:initial;
    color:#fff;
}

header p{
    font-size: 1.2em;
}
/* *************************************************** */

.about h2,
.qualification h2 {
    margin-bottom: 60px;
}

.about .content {
    text-align: left;
}

.about .data {
    margin: 0 5px;
    padding: 15px 10px;
    max-width: 300px;
}

.about a {
    display: inline-block;
}

.about .side img {
    max-width: 300px;
    margin: 0 auto;
}

.about .quote {
    margin: 20px 0;
}

/* *************************************************** */
.skills h3 {
    text-align: center;
    padding: 30px 0 30px;
    font-weight: 500;
    font-size: 1.1em;
    text-transform: uppercase;
}

.skills .content ul {
    column-count: 2;
    padding: 0px 15px 50px;
}

.skills .content li {
    padding: 10px 0 0 20px;
    position: relative;
    text-align: left;
    display: inline-block;
}

.skills .data {
    color: #eecd10;
}

.skills .data span {
    font-size: 0.6em;
}

.skills .icon-bullet {
    position: absolute;
    left: 0;
    top: 20px;
    color: #6bc7f5;
    font-size: 8px;
}
.skills img{
    height: 100px;
    width: auto;
    margin: 40px auto 0;
    max-width: 80%;
}
/* *************************************************** */

.portfolio .content {
    text-align: left;
}

.portfolio .data {
    padding: 30px;
}

.portfolio .data img {
    border-radius: 5px;
}

.portfolio p {
    padding: 10px 0;
}

.portfolio h3 {
    margin: 10px 0;
}

/* *************************************************** */

.qualification .button-container {
    text-align: center;
}

.qualification .button {
    display: inline;
}

.qualification .button {
    background-color: #fbfcfd;
    color: black;
}

.qualification .button.active {
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #0f2733;
    color: #ffffff;
}

.qualification ul {
    margin: 30px 0;
    width: 100%;
}

.qualification .content {
    display: none;
}

.qualification .content.active {
    display: block;
}

.qualification .grid-notresp {
    justify-content: center;
    align-items: center;
}

.qualification .block {
    text-align: left;
}

.qualification .block.vide {
    visibility: hidden;
}

.qualification .block.line {
    text-align: center;
    align-self: stretch;
    display: flex;
}

.qualification .block.line span {
    align-self: stretch;
    width: 50%;
}

.qualification .block.line span:first-child {
    border-right: solid black 1px;
}

.qualification .position {
    font-weight: bold;
    text-transform: uppercase;
}

.qualification .info {
    padding: 10px 0;
}

/* .qualification .dates {
    color: #808080;
} */


.qualification .tags li {
    background-color: #00aafd;
    border-radius: 30px;
    display: inline-block;
    padding: 4px 8px;
    margin: 4px;
    text-align: left;
    color: #fff;
}

.qualification .jobs li {
    position: relative;
}

.qualification .jobs .bullet {
    position: absolute;
    background-color: rgb(44, 62, 80);
    border-radius: 50%;
    display: block;
    width: 10px;
    top: 0;
    left: 50%;
    height: 10px;
    transform: translate(-5px, 0);
}

/* *************************************************** */

.contact li {
    padding: 20px 0;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.contact li div {
    padding: 4px 0;
}

.contact li .icon {
    font-size: 40px;
}

.contact li a {
    color: #2C3E50;
}

.contact-form .form-input,
.contact-form .form-input {
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #cee0e7;
    color: #2c3e50;
    border-radius: 15px;
}

input[type="submit"] {
    width: 100%;
    border-radius: 15px;
}

.contact h4 {
    font-weight: 400;
    padding: 20px 0;
}

footer {
    background-color: #34b5f6;
    min-height: 30px;
}

/* *************************************************** */
@media (max-width: 800px) {
    .container{
        max-width: 450px;
    }
    h2{
        font-size: 4em;
    }

    .grid {
        display: block;
    }

    .grid .columns2,
    .grid .columns3 {
        width: 98%;
        margin: 10px auto;
    }

    header,
    header h2 {
        text-align: center;
    }

    .about .content {
        text-align: center;
    }

    .skills .content ul {
        column-count: 3;
    }

    nav div {
        text-align: left;
        height: 100%;
        padding: 60px 0;
    }

    nav ul li,
    nav ul {
        display: block;
    }

    nav li {
        padding: 40px 0;
    }

    nav ul {
        padding-top: 20px;
    }

    nav a {
        padding: 0 20px;
    }

    nav #home {
        position: relative;
        left: auto;
    }

    nav #close-button,
    nav #mobile-menu {
        display: inline-block;
    }

    nav #mobile-menu {
        display: none;
    }

    nav.close #mobile-menu {
        display: inline-block;
    }

    nav.close div {
        display: none;
    }
    header img {
        margin: 30px auto;
    }
}